<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    </script>
    <title>Coding with Coda Array by @sweetvanloan</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper #311b92 deep-purple darken-4">
            <a href="#" class="brand-logo">Coding with Coda</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <% if (user) { %>
                        <a href="/logout">Logout </a>
                        <% } else { %>
                            <a href="/auth/google">Login with Google</a>
                            <% } %>
                                <li><a href="/">Home</a></li>
                                <a href="/user/">See Profile</a>
                </li>
            </ul>
        </div>
    </nav>



    <main>

        <div class="edit">
            <form action="/journals/edit/<%= journal._id%>?_method=PUT" method="post">
                <input type="text" value="<%= journal.entry %>" name="entry">
                <button type="submit" method="put">Save</button>
            </form>
        </div>




    </main>



    <div class="pageBottom">
        <div class="socialButtons">
            <a href="https://www.facebook.com/CodingWithCoda/" id="facebook" class="link"><img><span style="margin-left:5px;font-size:28px !important;">Facebook</span></a>
            <a href="https://twitter.com/CodingWithCoda" id="twitter" class="link"><img><span style="margin-left:5px;font-size:28px !important;">Twitter</span></a>
            <a href="https://github.com/sweetvanloan" id="github" class="link"><img><span style="margin-left:5px;font-size:28px !important;">Github</span></a>
            <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/sweetvanloan"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a Coffee"><span style="margin-left:5px;font-size:28px !important;">Buy me a Coffee</span></a>
            <a id="dev" class="link" href="https://dev.to/sweetvanloan">
                <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Sweet Van Loan's DEV Profile" height="34" width="35">
            </a>
            </span>
        </div>



        <footer class="page-footer #311b92 deep-purple darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Special Thanks:</h5>
                        <p class="grey-text text-lighten-4">Daniel Scott, Morgan Pierson, Melissa Young, Connie Lancaster, Mac Jankowski, David Fontenot & Sarah King
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://twitter.com/home?status=https://coda-journal.herokuapp.com/ I helped out @sweetvanloan and checked out her project, @CodingWithCoda! Check it out if you have a Google account!  Here is the link: https://coda-journal.herokuapp.com/user/#TechTwitter #BlackTechTwitter  #womenwhocode #womenintech">Share
                                    to Twitter</a></li>
                            <li><a class="grey-text text-lighten-3" href="Hey, @CodingWithCoda! I saw your prototype!">Tweet to Coda</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2020 Copyright
                </div>
            </div>
        </footer>
    </div>

</body>

</html>