<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../public/">
    </script>
    <title>Coding with Coda Array by @sweetvanloan</title>
</head>

<body>
    <div class="content">
        <div class="content-inside">
            <header>
                <div class="header">
                    <h1>Coding with Coda Array</h1>
                    <h2>by Sweet Van Loan</h2>
                </div>
            </header>


            <section class="codaCity">
                <p>Things go here</p>
            </section>
            <section class="codaCity">also here</section>
            <section class="codaCity">and here</section>
            <section class="codaCity">also here</section>
        </div>
    </div>


    <div class="pageBottom">
        <div class="socialButtons">
            <a href="https://www.facebook.com/CodingWithCoda/" id="facebook" class="link"><img><span style="margin-left:5px;font-size:28px !important;">Facebook</span></a>
            <a href="https://twitter.com/CodingWithCoda" id="twitter" class="link"><img><span style="margin-left:5px;font-size:28px !important;">Twitter</span></a>
            <a href="https://github.com/sweetvanloan" id="github" class="link"><img><span style="margin-left:5px;font-size:28px !important;">Github</span></a>
            <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/sweetvanloan"><img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a Coffee"><span style="margin-left:5px;font-size:28px !important;">Buy me a Coffee</span></a>
            </span>
        </div>


        <footer>
            <div class="ground"></div>
            <div class="footer">
                <p class="footLinks">Share to Twitter</p>
                <p class="footLinks">Tweet to Coda</p>
                <p class="footLinks">Share to Facebook</p>
                <p class="specialThanks">Special Thanks:</p>
                <p class="sweetDev">Cheif Developer: Sweet Van Loan</p>
            </div>

        </footer>
    </div>

</body>

</html>